.span {
  &-1 {
    width: 100%;
  }

  &-2 {
    width: calc(calc(100% / 2) - 15px);
  }

  &-3 {
    width: calc(calc(100% / 3) - 15px);
  }

  &-4 {
    width: calc(calc(100% / 4) - 15px);
  }

  &-5 {
    width: calc(calc(100% / 5) - 15px);
  }

  &-6 {
    width: calc(calc(100% / 6) - 15px);
  }

  &-7 {
    width: calc(calc(100% / 7) - 15px);
  }

  &-8 {
    width: calc(calc(100% / 8) - 15px);
  }

  &-9 {
    width: calc(calc(100% / 9) - 15px);
  }

  &-10 {
    width: calc(calc(100% / 10) - 15px);
  }

  &-11 {
    width: calc(calc(100% / 11) - 15px);
  }

  &-12 {
    width: calc(calc(100% / 12) - 15px);
  }
}
