.product {
  width: 100%;
  padding: 0 1.56rem;
  height: 23.25rem;

  &:hover &__bottom {
    & > button {
      display: block;
    }
  }

  &__icon {
    color: rgb(228, 228, 7);
    width: 0.8125rem;
    height: 0.8125rem;
  }

  &__tag {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4375rem 0.3125rem 0.4375rem 0.5rem;

    &.isCheck {
      & > span {
        color: #c94d3f;
      }
    }

    & > span {
      font-size: 0.625rem;
      color: #78a962;
      text-align: center;
      line-height: 210%;
    }
  }

  &__img {
    & > img {
      width: 9.375rem;
      height: 9.375rem;
      object-fit: cover;
      object-position: center;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 0.57rem;
    margin-bottom: 0.38rem;

    & > span:last-child {
      color: #a2a6b0;
      text-align: center;
      font-size: 0.75rem;
      line-height: 210%;
    }
  }

  &__desc {
    font-size: 0.8125rem;
    margin-bottom: 1rem;
  }

  &__price {
    &--old {
      color: #666;
      font-size: 0.875rem;
      line-height: 140%;
      text-decoration-line: line-through;
    }

    &--current {
      color: #000;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 140%;
    }
  }

  &__middle {
    margin-bottom: 1rem;
  }

  &__bottom {
    & > button {
      display: none;
    }
  }
}
