@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 110%;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
button,
input {
  outline: none;
}
